*
{
    font-family: sans-serif;
}

body
{
    background-color: #04a1bf;
}

#div_header
{
    /* border: 1px solid red; */
    width: 1200px;
    margin: auto;
}
#div_form
{
    padding: 0%;
    /* border: 1px solid red; */
    width: 1200px;
    margin: auto;
}

#div_tarefas
{
    /* border: 1px solid red; */
    width: 1200px;
    min-height: 500px;
    margin: auto;
    margin-top: 5px;
}

.div_tarefa
{
    color: white;
    font-size: 25px;
    border: 3px solid rgba(5, 99, 122, 0.89);
    border-radius: 4px;
    background-color: #4eb9cd;
    width: 1200px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.div_tarefa.done
{
    background-color: #51df70;
}

h2
{
    color: white;
}

p.head1
{
    color: #c1d234;
}

p.head2
{
    color: rgb(9, 211, 9);
}

p.head3
{
    color: rgb(2, 104, 2);
}

.div_tarefa button
{
    margin: 0% 1% 1% 1%;
    width: 35px;
    height: 27px;
    font-size: 11px;
    color: white;
    border-radius: 4px;
    border: 0px transparent;
    background-color: red;
    vertical-align: 3px;

}

input[type=text]
{
    margin: 1% 0% 1% 10%;
    width: 850px;
    height: 25px;
    font-size: 20px;
    color: black;
    border-radius: 5px;
    border: 0px transparent;
}

input[type=button]
{
    margin: 1% 1% 1% 1%;
    width: 103px;
    height: 27px;
    font-size: 20px;
    color: #04a1bf;
    border-radius: 5px;
    border: 0px transparent;
    background-color: #025f70;

}

label
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}
